
html{
    font-family: 'Times New Roman', Times, serif;
    size: 14pt;
    
}

*{
    color:black;
}

h1{
    margin-top: 1em;
    margin-bottom: 1em;
}

a{
    color:blue;
}

.item{
    display: flex;
    margin-bottom: 0.25em;

}

.item_value{
    margin-left: 15px;
}

.item_type{
    font-style: italic;
}


.contact_type{
    font-style: italic;
}

.contact_value{
    margin-left: 15px;
}

.contact{
    display: flex;
    margin-bottom: 0.3em;

}

table,td,tr{

    margin-left: 10px;
    margin-bottom: 0.5em;

}

td{
    text-align: left;
    padding-left: 60px;
    margin-bottom: 1em;
 
}

p{
    padding-top: 4em;
}

.cv{
    max-width: 900px;
    margin: 0 auto;
}

section{
    max-width: 900px;
    margin: 0 auto;
}



li{
    list-style-type: square;
}

